  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
  }

  body {
    font-family: 'VT323', sans-serif;
    font-size: 2.0em;
    background: rgb(0,0,0);
    color: #faeef8;
  }

  .padimg {
    padding: 10px;
  }

  a, a:visited {
    color: #be0a0a;
  }  
  a:hover, a:active {
    color: #ff0000
  }

  .previewimg {
    padding: 10px;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 5px;
    cursor: pointer;
  }

  #section {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
  }

  .leftimg {
    float: left;
  }

  .rightimg {
    float: right
  }

  #titleimg {
    min-width: 350px;
    display: inline-block;
  }

  #titleimg:hover {
    cursor: pointer;
  }
  #titleimg-m:hover {
    cursor: pointer;
  }
  .subtitlescale:hover {
    cursor: pointer;
  }
  .halfsubtitlescale:hover {
    cursor: pointer;
  }

  #titleimg-m {
    display: none;
  }

  #github {
    min-width: 150px;
  }

  #demoninstructions {
    min-width: 150px;
  }

  #installationinstructions {
    min-width: 150px;
  }

  #github {
    min-width: 150px;
  }

  #subtitlebox {
    width: 50%;
    margin: auto;
  }

  #window {
    background: rgba(0, 0, 0, 0.8);
    width: 50%;
    border-radius: 25px;
    padding: 10px;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 20px 20px 20px -20px #000,
    -20px 20px 20px -20px #000;
  }

  #shortbox {
    width: 66%;
    margin: auto;
  }

  #title {
    font-size: 3em;
  }

  .titlescale {
    width: 50%;
    height: auto;
    margin: auto;
  }

  .subtitlescale {
    width: 25%;
    height: auto;
    margin: auto;
    padding: 5px;
    cursor: pointer;
  }

  .halfsubtitlescale {
    width: 12%;
    height: auto;
    margin: auto;
    padding: 5px;
  }

  .center {
    text-align: center;
    justify-content: center;

  }

  @media only screen and (max-width: 1400px) {
    #window {
        width: 75vw;
    }
    .titlescale {
      width: 75%;
      height: auto;
      margin: auto;
    }
    .subtitlescale {
      width: 50%;
      height: auto;
      margin: auto;
      padding: 5px;
    }
  
    .halfsubtitlescale {
      width: 25%;
      height: auto;
      margin: auto;
      padding: 5px;
    }
  }

  @media only screen and (max-width: 800px) {
    .titlescale {
      width: 90%;
      height: auto;
      margin: auto;
    }
    .subtitlescale {
      width: 100%;
      height: auto;
      margin: auto;
    }

    #titleimg {
      display: none;
    }
  
    #titleimg-m {
      min-width: 350px;
      display: block;
    }
  
    .halfsubtitlescale {
      width: 50%;
      height: auto;
      margin: auto;
    }
    .box {
        display: block;
        align-items: unset;
        justify-content: unset;
        margin: 3px;
        padding: 3px;
    }
    #window {
        width: 90vw;
    }
}